.App {
  text-align: center;
}

.donate-btn  {
  background-color:#9cd417;
  margin: 15px;
  border-radius: 20px;
  padding:10px;
}
.donate-amnt{
border-color: #9cd417;
border-style: double;
border-radius: 20px;
padding: 10px;
}
.donate-btn:hover{
  background-color:whitesmoke;
  cursor: pointer;
}